@*<a href="/#!/login" target="_blank" class="external">کارتابل شکوائیه‌ها</a>*@
<h2 id="complaint">شکوائیه</h2>
<hr />
مودیان پس از ثبت نام در سامانه امکان ایجاد شکوائیه و پیگیری شکوائیه‌های ثبت شده خود از طریق سامانه را دارند.

<h3 id="new-complaint">ثبت شکوائیه جدید</h3>
<div class="col-container">
    <div class="col-1">
        <p>به منظور ثبت شکوائیه جدید، پس از ورود به سامانه از منوی سمت راست گزینه <b>درخواست‌ها</b> و سپس زیر منوی <b>ثبت شکوائیه جدید</b> را انتخاب کنید.</p>
        <img src="~/app/assets/images/help/complaint/complaint-1.png" alt="منوی ثبت شکوائیه جدید" class="image" />
    </div>
</div>
<p class="image-caption">منوی ثبت شکوائیه جدید</p>

<p>پس از ورود به صفحه‌ <a href="/#!/complaint" target="_blank" class="external">ثبت شکوائیه جدید</a> باید مقادیر مشخص شده با رنگ قرمز را پر کرده و سپس دکمه <b>تایید و ادامه</b> را بزنید. با زدن دکمه تایید و ادامه در صورتی که خطایی در اطلاعات وارد شده وجود نداشته باشد، شکوائیه شما ایجاد شده و وارد صفحه تکمیل جزئیات شکوائیه خواهید شد.</p>
<p style="color: red">توجه: این قسمت صرفا به منظور ثبت کلیات درخواست جدید بوده و تا زمانی که تمامی اطلاعات مورد نیاز را تکمیل و شکوائیه خود را <b>ارسال</b> نکرده‌اید شکوائیه شما در هیات مورد بررسی قرار نخواهد گرفت.</p>
<div class="col-container">
    <div class="col-1">
        <img src="~/app/assets/images/help/complaint/complaint-2.png" style="max-width: 500px" alt="ثبت اولیه شکوائیه جدید" class="image" />
        <p class="image-caption">ثبت شکوائیه جدید</p>
    </div>
</div>
<p>پس از تایید و ایجاد موفقیت آمیز شکوائیه جدید، شکوائیه ایجاد شده از صفحه <a href="/#!/complaint-cartable" target="_blank" class="external">کارتابل شکوائیه‌ها</a> در دسترس خواهد بود.</p>

<h3 id="edit-complaint">تکمیل جزئیات شکوائیه</h3>
<p>پس از ایجاد شکوائیه جدید یا بعد از ویرایش شکوائیه از کارتابل شکوائیه‌ها وارد صفحه جزئیات شکوائیه می‌شوید و تا زمانی که شکوائیه ارسال نشده است امکان ویرایش جزئیات شکوائیه را دارید.</p>
<div class="col-container">
    <div class="col-1">
        <img src="~/app/assets/images/help/complaint/complaint-3.png" style="max-width: 750px" alt="جزئیات شکوائیه" class="image" />
        <p class="image-caption">جزئیات شکوائیه</p>
    </div>
    <h3>جزئیات شکوائیه</h3>
    <p>در قسمت بالای عکس (اطلاعات شکوائیه) اطلاعاتی کلی شکوائیه شما را نشان می‌دهد و کد رهگیری هر شکوائیه متفاوت بوده، همچنین برای پیگیری شکوائیه ثبت شده در سامانه آن را یادداشت نمایید.</p>
    <p>در قسمت پایین عکس (جزئیات شکوائیه) با انتخاب منبع مالیاتی مورد شکوائیه تب های نمایش داده شده در صفحه متفاوت خواهد بود.</p>
    <ul>
        <li>
            <span style="color:#4A80D6">مشخصات مودی</span>
            <ul>
                <li>این صفحه برای همه منابع انتخاب شده نمایش داده می‌شود.در این صفحه اطلاعات مودی نمایش داده شده است که در صورت نیاز می‌توانید با ورود به صفحه اطلاعات کاربری اطلاعات را ویرایش نمایید.</li>
                <li>اطلاعات ثبت شده در فرایند ثبت نام از طریق سامانه به این قسمت منتقل می‌گردد و تنها بایستی مدارک هویتی از قبیل تصاویر صفحات شناسنامه و کارت ملی (برای اشخاص حقیقی) و روزنامه رسمی (برای اشخاص حقوقی) اسکن و بارگذاری شود.</li>
            </ul>
        </li>
        <li>
            <span style="color:#4A80D6">
                برگ قطعی
            </span>
            <ul>
                <li>این صفحه برای همه منابع انتخاب شده نمایش داده می‌شود. فیلد‌های با رنگ قرمز اجباری می‌باشند.</li>
                <li>در این قسمت اطلاعات مندرج در برگ قطعی به ترتیبی که در تصاویر ذیل منعکس می‌باشد در قسمت‌های مربوط درج و مدارک خواسته‌شده (با رنگ قرمز مشخص گردیده است) اسکن و بارگذاری شود.</li>
            </ul>
            <div class="col-1">
                <img src="~/app/assets/images/help/tax-slip-sample.jpg" style="max-width: 750px" alt="نمونه فرم برگ قطعی" class="image" />
                <img src="~/app/assets/images/help/tax-slip-map.jpg" style="max-width: 750px; max-height: none" alt="نمونه فرم برگ قطعی" class="image" />
                <p class="image-caption">مقادیر مورد نیاز در فرم برگ قطعی</p>
            </div>
        </li>
        <li>
            <span style="color:#4A80D6">
                اطلاعات وکیل
            </span>
            <ul>
                <li>این صفحه زمانی نمایش داده خواهد شد که در قسمت قبل پیگیری توسط وکیل را انتخاب کرده باشید. </li>
            </ul>
        </li>
        <li>
            <span style="color:#4A80D6">
                مشخصات متوفی
            </span>
            <ul>
                <li>این صفحه زمانی نمایش داده خواهد شد که در شخص وارد شده در سامانه بصورت حقیقی بوده و منبع انتخابی ثبت شکوائیه ارث باشد. وارد کردن فیلد‌های با رنگ قرمز اجباری می‌باشد.</li>
            </ul>
        </li>
        <li>
            <span style="color:#4A80D6">
                مشخصات واحد صنفی
            </span>
            <ul>
                <li>این صفحه زمانی که منبع شکوائیه خود را مشاغل انتخاب کنید نمایش داده خواهد شد. پر کردن فیلد‌های با رنگ قرمز اجباری می‌باشد.</li>
                <li>در مورد اشخاص حقیقی در این قسمت موضوع فعالیت (نوع شغل) نشانی محل فعالیت و کد پستی محل فعالیت درج می‌گردد.</li>
            </ul>
        </li>
        <li>
            <span style="color:#4A80D6">
                مشخصات صاحبان امضای مجاز
            </span>
            <ul>
                <li>این صفحه برای مودی حقوقی نمایش داده خواهد شد. پر کردن فیلد‌های قرمز اجباری می‌باشد.</li>
                <li>در این قسمت مشخصات صاحبان امضای مجاز (بر اساس آخرین روزنامه رسمی) درج و تصویر روزنامه رسمی مربوط اسکن و بارگذاری می‌گردد.</li>
            </ul>
        </li>
        <li>
            <span style="color:#4A80D6">
                خلاصه شکوائیه
            </span>
            <ul>
                <li>این صفحه برای همه منابع انتخاب شده نمایش داده می‌شود.دراین صفحه در قسمت اول خلاصه شکوائیه خود را وارد کنید. در صورت نیاز پیوست خلاصه شکوائیه خود را آپلود کنید. برای اثبات ادعا در قسمت پایین این صفحه مدارک خود را در آن بصورت پیوست قرار دهید </li>
                <li>در این قسمت خلاصه‌ای از مشروح شکایت تهیه شده وارد و اصل شکوائیه تهیه شده به اضافه مدارک مربوط به اثبات ادعا اسکن و بارگذاری می‌شود.</li>
            </ul>
        </li>
    </ul>

    <h3>ثبت اطلاعات</h3>
    <p>توجه داشته باشید برای ذخیره کردن اطلاعات وارد شده در سامانه بایستی دکمه ثبت را کلیک کنید که اطلاعات تمامی صفحه‌ها به صورت یکجا ذخیره می شود.</p>
    <p>در صورت داشتن خطا در وارد کردن اطلاعات قسمت <b>زرد</b> رنگ در این صفحه خطاهای هر تب را نمایش می دهد و برای بررسی خطاهای هر تب بایستی به آن صفحه رفته و در قسمتی <b>قرمز</b> رنگ نمایش داده می‌شود. </p>
    <h3>ثبت و ارسال</h3>
    <p>پس از ثبت اطلاعات به صورت کامل بر روی دکمه ثبت و ارسال کلیک نمایید ، صفحه ای مبنی بر اطمینان برای ارسال به شما نمایش داده می شود در صورت نیاز می توانید توضیحات خود را در آن اضافه کنید پس از آن بر روی نوشته صحت اطلاعات کلیک کنید و سپس دکمه تایید را کلیک کنید.</p>
    <p style="color:red;">توجه : در صورت تایید و ارسال شکوائیه امکان ویرایش و ارسال مجدد نخواهید داشت.</p>
</div>

<div class="col-container">
     <h3>کارتابل شکوائیه‌ها</h3>
     <div class="col-1">
         <img src="~/app/assets/images/help/complaint/complaint-4.png" style="max-width: 900px" alt="کارتابل شکوائیه‌ها" class="image" />
         <p class="image-caption">کارتابل شکوائیه‌ها</p>
     </div>
    <p>شکوائیه‌های ثبت شده شما در این صفحه نمایش داده می‌شود. با کلیک بر روی هر شکوائیه اطلاعاتی کلی از آن را به شما نمایش می‌دهد.</p>
    <p>در صورت نیاز با فشردن علامت مداد در کنار هر شکوائیه قادر به ویرایش شکوائیه خواهید بود.</p>
    <p style="color:red">با فشردن علامت ضربدر در کنار لیست شکوائیه‌ها می‌توانید آن شکوائیه مورد نظر را حذف کنید .</p>
    <p style="color:red">نکته : تنها قبل از ارسال شکوائیه امکان ویرایش دارید و پس از آن غیر فعال خواهد بود. </p>
</div>