<h2 id="signup">ثبت نام در سامانه</h2>
<hr />
<p>برای ثبت نام در سامانه در <a href="/#!/login" target="_blank" class="external">صفحه ورود به سامانه</a> ابتدا گزینه <b>"ثبت نام و دریافت کد کاربری"</b> را بزنید و سپس با توجه به شخصیت حقیقی یا حقوقی مودی، یکی از گزینه‌های <b>"ثبت نام اشخاص حقیقی"</b> یا <b>"ثبت نام اشخاص حقوقی"</b> را انتخاب کنید.</p>
<div class="col-container">
    <div class="col-2">
        <img src="~/app/assets/images/help/signup/signup-1.png" alt="ثبت نام و دریافت کد کاربری" class="image" />
        <p class="image-caption">مرحله اول</p>
    </div>
    <div class="col-2">
        <img src="~/app/assets/images/help/signup/signup-2.png" alt="انتخاب فرایند ثبت نام اشخاص حقیی یا حقوقی" class="image" />
        <p class="image-caption">مرحله دوم</p>
    </div>
</div>

<h3 id="signup-realuser">ثبت نام اشخاص حقیقی</h3>
<p>اشخاص حقیقی باید از صفحه <a href="/#!/signup-realuser" target="_blank" class="external">"ثبت نام اشخاص حقیقی"</a> اقدام به ثبت نام در سامانه نمایند.</p>
<ul>
    <li>ابتدا شرایط ثبت ‌نام و ثبت شکوائیه در سامانه را مطالعه نموده و در صورت موافقت دکمه "تایید و ادامه" را بزنید.</li>
    <li>پر کردن مواردی که عنوان آنها با <span style="color: #ff0000;">رنگ قرمز</span> مشخص شده است اجباری است.</li>
    <li>هر کد ملی تنها یکبار امکان ثبت نام در سامانه را دارد، در صورتی که قبلا در سامانه ثبت نام کرده&zwnj;اید و کلمه عبور خود را فراموش کرده&zwnj;اید به صفحه فراموشی کلمه عبور مراجعه کنید.</li>
    <li>ورود تلفن همراه و ایمیل صحیح برای فعالسازی نام کاربری الزامی است.</li>
    <li>کلمه عبور باید حداقل 10 کاراکتر باشد. ترجیحا در کلمه عبور، ترکیبی از حروف کوچک و بزرگ، اعداد و سایر کاراکترهای مجاز استفاده کنید.</li>
</ul>
<p>در صورتی که خطایی در اطلاعات وارد شده در فرم ثبت نام وجود داشته باشد، با زدن دکمه ثبت، توضیحات مربوط به آن خطا در بالای صفحه نمایش داده می&zwnj;شود. پس از برطرف کردن خطای به وجود آمده مجددا روی دکمه ثبت کلیک کنید.</p>
<p>بعد از ثبت نام، ایمیلی حاوی لینک فعال‌سازی به ایمیل وارد شده در صفحه ثبت نام ارسال خواهد شد. پس از کلیک بر روی لینک فعال‌سازی امکان ورود به سامانه را خواهید داشت.</p>
<p>نمونه فرم پر شده ثبت‌نام:</p>
<div class="col-container">
    <div class="col-1">
        <img src="~/app/assets/images/help/1-1.png" style="max-width: 750px" class="image" />
    </div>
    <div class="col-1">
        <img src="~/app/assets/images/help/1-2.png" style="max-width: 750px" class="image" />
    </div>
</div>

<h3 id="signup-legaluser">ثبت نام اشخاص حقوقی</h3>
<p>اشخاص حقوقی باید از صفحه "ثبت نام اشخاص حقوقی" اقدام به ثبت نام در سامانه نمایند.</p>
<ul>
    <li>ابتدا شرایط ثبت ‌نام و ثبت شکوائیه در سامانه را مطالعه نموده و در صورت موافقت دکمه "تایید و ادامه" را بزنید.</li>
    <li>پر کردن مواردی که عنوان آنها با <span style="color: #ff0000;">رنگ قرمز</span> مشخص شده است اجباری است.</li>
    <li>هر شناسه ملی تنها یکبار امکان ثبت نام در سامانه را دارد، در صورتی که قبلا در سامانه ثبت نام کرده&zwnj;اید و کلمه عبور خود را فراموش کرده&zwnj;اید به صفحه فراموشی کلمه عبور مراجعه کنید.</li>
    <li>ورود تلفن همراه و ایمیل صحیح برای فعالسازی نام کاربری الزامی است.</li>
    <li>کلمه عبور باید حداقل 10 کاراکتر باشد. ترجیحا در کلمه عبور، ترکیبی از حروف کوچک و بزرگ، اعداد و سایر کاراکترهای مجاز استفاده کنید.</li>
</ul>
<p>در صورتی که خطایی در اطلاعات وارد شده در فرم ثبت نام وجود داشته باشد، با زدن دکمه ثبت، توضیحات مربوط به آن خطا در بالای صفحه نمایش داده می&zwnj;شود. پس از برطرف کردن خطای به وجود آمده مجددا روی دکمه ثبت کلیک کنید.</p>
<p>بعد از ثبت نام، ایمیلی حاوی لینک فعال‌سازی به ایمیل وارد شده در صفحه ثبت نام ارسال خواهد شد. پس از کلیک بر روی لینک فعال‌سازی امکان ورود به سامانه را خواهید داشت.</p>
<p>نمونه فرم پر شده ثبت‌نام:</p>
<div class="col-container">
    <div class="col-1">
        <img src="~/app/assets/images/help/2-1.png" style="max-width: 750px" class="image" />
    </div>
    <div class="col-1">
        <img src="~/app/assets/images/help/2-2.png" style="max-width: 750px" class="image" />
    </div>
</div>

@*<h3 id="signup-verify-email">تایید ایمیل</h3>
<p>در حال تکمیل متن راهنما...</p>*@