$hasSidebar: true; // true, false
$sidebarBackgroundColor: #2a3f54; // any valid color (red, #DDD, etc)
$sidebarColor: #e0e3e6; // any valid color (red, #DDD, etc)
$sidebarWidth: 250px; // size in px
$hasSidebarTitle: true; // true, false
$sidebarTitleImageHeight: 120px; // size in px;
$sidebarTitleTextHeight: 60px; // size in px;
$hasSidebarUser: true; // true, false
$sidebarFooterHeight: 50px; // size in px

$hasToolbar: true; // true, false
$toolbarBackgroundColor: #EDEDED; // any valid color (red, #DDD, etc)
$toolbarHeight: 40px; // size in px