<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>سامانه ارزیابی</title>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#2a3f54">
    <meta name="viewport" content="width=device-width">

    <!--plugins styles-->
    <link href="~/app/dist/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--app styles-->
    <link href="~/app/dist/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="wrapper">
                <div id="content" class="row">
                    <div class="col-xs-12">
                        <div class="row">
							<div class="col-xs-12 reset-header">
								<div id="sidebar-title-image">
									<img src="~/app/assets/images/ministry-logo-white.png" alt="وزارت امور اقتصادی و دارایی">
								</div>
								<div id="sidebar-title-text" class="col-xs-12">
                                    <h1>سامانه ارزیابی</h1>
								</div>
							</div>

							<div class="col-xs-12 col-md-10 col-md-offset-1">
								<div class="panel panel-kama">
									<div class="panel-heading">
										خطا 404
									</div>
									<div class="panel-body">
										<p style="text-align: center; font-size: 22px">صفحه مورد نظر یافت نشد!</p>
										<p style="text-align: center; margin-top: 15px" class="ng-scope"><a href="/">بازگشت به صفحه اصلی ⟵</a></p>
									</div>
									<div class="panel-footer">
                                        <p style="text-align: center">تمامی حقوق این سامانه متعلق به بنیاد مستضعفان انقلاب اسلامی است.</p>
										<p style="text-align: center">پیاده سازی شده توسط <a href="http://kamatech.ir/" target="_blank">شرکت کاوه مکاترونیک آریا</a></p>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>